/* ================= Global Styles ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* ================= Colors and Fonts ================= */
:root {
    --color-primary: #e1ac56;
    --color-secondary: #c5a992;
    --color-bg1: #f3f2ec;
    --color-bg2: #edebe4;
    --color-dimmed: rgba(0, 0, 0, 0.52);
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Prata", serif;
}

.bg-color1 {
    background-color: var(--color-bg1);
}

.bg-color2 {
    background-color: var(--color-bg2);
}

.prata-font, .title {
    font-family: var(--font-secondary);
}

.title {
    font-size: 45px;
}

.destitle, .footer-name {
    color: var(--color-dimmed);
}

/* ================= Typography ================= */
.subsctitle {
    font-size: 45px;
    font-weight: 400;
}

@media (max-width: 992px) {
    .destitle {
        font-size: 12px;
    }
    .title {
        font-size: 35px;
    }
}

/* ================= Navbar ================= */
.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--color-primary);
}

/* ================= Card Styles ================= */
.card {
    border: none !important;
}

.none ul li {
    list-style: none;
}

/* ================= Hero Section ================= */
.carousel-item {
    height: 100vh;
}

.h2carosel {
    font-size: 75px;
    font-weight: 400;
}

.btn {
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-size: contain;
}

.carousel-control-next-icon {
    background-image: url(./../icon/iconmonstr-arrow-right-circle-thin.svg);
}

.carousel-control-prev-icon {
    background-image: url(./../icon/iconmonstr-arrow-left-circle-thin.svg);
}

@media (max-width: 991px) {
    .xx {
        flex-wrap: wrap-reverse !important;
        margin: 20px;
    }
    .h2carosel {
        width: 100% !important;
        font-size: 40px;
        padding: 25px;
    }
    .yy {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ================= Button ================= */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-secondary);
    --bs-btn-border-color: var(--color-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-secondary);
    --bs-btn-hover-border-color: var(--color-secondary);;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-secondary);
    --bs-btn-active-border-color: var(--color-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-secondary);
    --bs-btn-disabled-border-color: var(--color-secondary);}

/* ================= Popular Books ================= */
#root1 h5, #root2 h5, #root3 h5, #root4 h5, #root5 h5, #root6 h5, #root7 h5 {
    color: var(--color-secondary);
}

.border-5 {
    border-width: 30px !important;
    border-color: rgba(228, 227, 225, 0.52) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: transparent !important;
    color: black !important;
    border-bottom: 2px solid var(--color-primary) !important;
}

.nav-link {
    color: rgba(0, 0, 0, 0.514) !important;
}

.tab {
    display: flex;
    justify-content: center;
}

/* ================= Best Selling Book ================= */
#root8 img{
    border:#ffffff 20px solid;
    width: 60%;
}


/* ================= Footer ================= */
.footer-line {
    width: 100%;
    height: 1px;
    background-color: rgba(10, 10, 10, 0.096);
}

.line {
    width: 40px;
    height: 5px;
    background-color: #fd7200;
    border-radius: 10%;
}

.border1 {
    border: #ffffff 8px solid;
}

.footer-name {
    color: var(--color-primary);
}
